[submodule "wow/mk"]
	path = wow/mk
	url = https://github.com/vkottler/mk.git
[submodule "wow/keybinds"]
	path = wow/keybinds
	url = https://github.com/vkottler/keybinds.git
[submodule "wow/config"]
	path = wow/config
	url = https://github.com/vkottler/config.git
