# {{package["pypi_name"]}} ([{{package["version"]}}](https://pypi.org/project/{{package["pypi_name"]}}/))

[![python](https://img.shields.io/pypi/pyversions/{{package["pypi_name"]}}.svg)](https://pypi.org/project/{{package["pypi_name"]}}/)
![Build Status](https://github.com/{{python["author_info"]["username"]}}/keybinds/workflows/Python%20package/badge.svg)
[![codecov](https://codecov.io/gh/{{python["author_info"]["username"]}}/keybinds/branch/master/graphs/badge.svg?branch=master)](https://codecov.io/github/{{python["author_info"]["username"]}}/keybinds)

*{{package["description"]}}*
